doctype html
html
  head
    title Bynd Motion

    style.
      body {
        background-color: #333;
      }

      canvas {
        width: 100vw;
        height: 75vw;
        max-height: 100vh;
        max-width: 140vh;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

  body
    script(src="./js/bundle.js")
